<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/resources/css/bootstrap-3.3.2-dist/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
<table class="table table-header">
    <th:block th:each="project : ${projectList}">
        <tr>
            <td>[[${project.id}]]</td>
            <td>[[${project.name}]]</td>
            <td><a th:href="@{'/projects/' + ${project.id}}" th:method="post">Edit</a></td>
            <td><a th:href="@{'/projects/delete/' + ${project.id}}" >Delete</a></td>
            <td><a th:href="@{'/projects/projectinfo/' + ${project.id}}" >Info</a></td>

        </tr>
    </th:block>

</table>

<form th:action="@{projects/createprojectform}" method="get">
    <input type="submit" value="create new project"/>
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>

</html>