<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/resources/css/bootstrap-3.3.2-dist/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>

<div style="display: inline">
    <div style="display: inline-block">
        <table border="1px">
            <th:block th:each="user: ${userList}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.username}]]</td>
                </tr>
            </th:block>
        </table>
    </div>

    <div style="display: inline-block">
        <table border="1px">
            <th:block th:each="task: ${taskList}">
                <tr>
                    <td>[[${task.task}]]</td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

</body>

</html>